#grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header'
        ' main main main main main'
        ' main main main main main'
        'main main main main main'
        'footer footer footer footer footer';
    padding:2px;
    height: 100%;
}

#header{
    grid-area: header;
}
img{
    height:10vh;
    width: 5vw;
}

#main{
    grid-area: main;

}
#footer{
   grid-area: footer;
}
.text-center{
    color:rgb(105, 105, 105) ;
    font-size: small;
}

@media (max-width: 575px){
    img{
        display: none;
    }
    .navbar-expand-sm .navbar-collapse {
    display:flex;

    }
}

