#grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header'
        ' main main main main main'
        ' main main main main main'
        'main main main main main'
        'footer footer footer footer footer';
    padding:2px;
    height: 100%;
}
body{
    margin-bottom: 10vh;
    margin-top: 7vh;
}

#header{
    grid-area: header;
}
img{
    height:17vh;
    width: 9vw;
}

#main{
    grid-area: main;
    padding: 7%;

}
.footer{
   grid-area: footer;
}
.text-center{
    color:rgb(105, 105, 105) ;
    font-size: small;
}

#article_id{
    display: flex;
    flex-direction: row;
}

#article_id > div{
    padding: 3%;
    width: 50vw;
}
#about_img{
    height: 55vh;
    width: 40vw;

}

@media (max-width: 992px){
    img{
        display: none;
    }
    #article_id{
        display: block;
    }
    #about_img{
        display: block;
        width: 30vh;
        height: 20vh;
    }

}