#grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header'
        ' main main main main main'
        ' main main main main main'
        'main main main main main'
        'footer footer footer footer footer';
    padding:2px;
    height: 100%;
}

#header{
    grid-area: header;
}
img{
    height:10vh;
    width: 5vw;
}

#main{
    grid-area: main;
    padding: 7%;

}
.footer{
   grid-area: footer;
}
.text-center{
    color:rgb(105, 105, 105) ;
    font-size: small;
}

#addingform{
    border: 2px solid black;
    width: 50%;
    margin: auto;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 992px){
    img{
        display: none;
    }
}
