#grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header'
        ' main main main main main'
        ' main main main main main'
        'main main main main main'
        'footer footer footer footer footer';
    padding:2px;
    height: 100%;
}

body{
    margin-bottom: 10vh;
    margin-top: 7vh;
    /* background-color: #cd902039; */
    
}

#header{
    grid-area: header;
}
img{
    height:17vh;
    width: 9vw;
}

#main{
    grid-area: main;
    padding: 7%;
}
.footer{
   grid-area: footer;
}
.text-center{
    color:rgb(105, 105, 105) ;
    font-size: small;
}

#addingform{
    border: 5px solid black;
    border-radius: 2%;
    width: 50%;
    margin: auto;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    background-color: #f0c076;
}


@media (max-width: 992px){
    img{
        display: none;
    }
}
